<h1>Welcome To My Page!</h1>
<hr />

<div>
	<h3>Education</h3>
	<ul>
		<li>Middle School: St. Vincents</li>
		<li>High School: Judg Memorial CHS</li>
		<li>Collge: Texas A&M University</li>
	</ul>
</div>
