<h1 class="welcome_to_page">Patrick Marshall</h1>
<h2 class="about_me">About Me
<hr />
	<div class="resume">
	<a href="https://www.linkedin.com/in/patrickmarshall99">LinkedIn Resume</a>
	</div>
</h2>
<hr />
<div>
<table>
	<tr>
		<td>
			<div class="text_color">
				<h3>Education:</h3>
				<ul>
					<li>Middle School: St. Vincents</li>
					<li>High School: Judg Memorial CHS</li>
					<li>Collge: Texas A&M University</li>
				</ul>
			</div>
		</td>
		<td>
			<div class="alignment">
				<h3>Interests:</h3> 
				<ul>
					<li>Snowboarding</li>
					<li>Climbing</li>
					<li>Biking</li>
				</ul>
			</div>
		</td>		
		<td>
			<img class='show_em_your_badge' src="https://scontent.xx.fbcdn.net/v/t1.0-9/10003202_618513848235135_780342644_n.jpg?oh=6cb1e33987e71f4bc4cd9c63040c2e7e&oe=579E5F6C" alt="Self-Picture">
		</td>
	</tr>
</table>
<br />

<div>
	<h3>Previous Work:</h3> 
	<ul>
		<p>I managed yard operations across the Dallas/ Fort Worth Metroplex for 3 years where I found a new passion for technology and wanted to further my education. That is what has brought me to Salt Lake
		</p>
	</ul>
</div>

<footer class="footer">
	<form action="/my-handling-form-page" method="post">
		<p>CONTACT ME</p>
		<label for="name">Name:</label>
		<input type="text" id="name" />
	  <label for="mail">E-mail:</label>
	  <input type="email" id="mail" />
	  <label for="msg">Message:</label>
	  <textarea id="msg"></textarea>
	</form>
	<p>&copy; 2016 Patrick Marshall</p>
</footer>
