<div>
	<h3>Previous Work</h3> 
	<ul>
		<p>I managed yard operations across the Dallas/ Fort Worth Metroplex for 3 years and found a new passion for technology and wanted to further my education which brought me to Salt Lake
		</p>
	</ul>
</div>
